<h2> ADMIN VIEW: CARTS </h2>
<a href="/"> <button> Home </button></a>
<p>You are logged in as {{currentUser.fullname}}, ROLE: {{currentUser.role}}</p>
<button style="width: 120px" id="logout">Logout </button>
{{#each carts}}
  <div class="cardsContainer">
    <div class="card">
      <h5>Carrito ID: {{this._id}}</h5>
      <ul>
        <br />
        <p>Products in Cart: </p>
        <ul>
          {{#each this.products}}
            <li>Product: {{this.product.price}}</li>
            <li>_id: {{this._id}}</li>
            <li>Quantity: {{this.quantity}}</li>

            <br />
          {{/each}}
        </ul>
      </ul>
    </div>
    <button id="viewThisCart" style="width: 120px" data-cid="{{this._id}}">View This Cart &#129488</button>
  </div>
{{/each}}
<script src="/js/logout.js"></script>
<script src="/js/viewThisCart.js"></script>