<h2>USERS VIEW</h2>
<a href="/"> <button> Home </button></a>
<h3>Welcome {{current.first_name}} {{current.last_name}}</h3>
<button id="deleteInactiveUsers" style="width: 120px">Delete Inactive User</button>
<button style="width: 120px" id="logout">Logout </button>
{{#each users}}
  <section>
    <div>
      <h4>{{this.first_name}} {{this.last_name}}</h4>
      <h3>Email: {{this.email}}</h3>
      <h3>Role: {{this.role}}</h3>

      <a href="/api/users/premium/{{this._id}}">
        <button id="changeRole" style="width: 120px" type="submit">See his Carrito &#128526</button>
      </a>

      <a href="/api/users/premium/{{this._id}}">
        <button id="changeRole" style="width: 120px" type="submit">Change Role &#129312</button>
      </a>

      <button id="deleteUser" style="width: 120px" data-user="{{this._id}}">Delete User &#128520</button>

    </div>
  </section>
{{/each}}
<script src="/js/logout.js"></script>
<script src="/js/deleteInactiveUsers.js"></script>
<script src="/js/deleteUser.js"></script>