<section>
  <div>
    <h4>“Excuse me. I’d like to “ass” you a few questions.” – Ace Ventura</h4>
    {{#if currentUser}}
      <div class="infoContainer">
        <h2>You are logged in as {{currentUser.fullname}}, ROLE: {{currentUser.role}}</h2>
        <button style="width: 120px" id="logout">Logout </button>
      </div>
    {{else}}
      <div class="cardsContainer">
        <div class="infoContainer">
          <h3>Start here mate'</h3>
          <div class="linksContainer">
            <a href={{toLogin}}> <button> Login </button></a>
            <a href={{toRegister}}> <button> Register </button></a>
          </div>
        </div>
      </div>
    {{/if}}
    <img src="https://wallpaperaccess.com/full/2162194.jpg" alt="" style="max-width: 500px" />
  </div>
  <nav>
    <div class="infoContainer">
      <div class="linksContainer">
        <h4>Cart Actions:</h4>
        <a href={{toCart}}> <button> View Your Cart </button></a>
        <h4>Premium and Admin:</h4>
        <a href={{toProductCrud}}> <button> VIEW Create Product</button></a>
      </div>
    </div>
    <div class="infoContainer">
      <div class="linksContainer">
        <h4>Users:</h4>
        <a href={{toProducts}}> <button> VIEW Products </button></a>
        <a href={{toChat}}> <button> VIEW Chat </button></a>
        <a href={{toProfile}}> <button> VIEW Safe DTO Profile </button></a>
        <h4>Admin:</h4>
        <a href={{toCurrent}}> <button> VIEW Current Session </button></a>
        <a href={{toUsers}}> <button> GET All Users</button></a>
        <a href={{toCarts}}> <button> GET All Carts </button></a>
        <a href={{toTickets}}> <button> GET All Tickets </button></a>
        <a href={{toMockingProducts}}> <button> Mock This! </button></a>

      </div>
    </div>
    <div class="infoContainer">
      <div class="linksContainer">
        <h4>Did i tell you about the time that i...</h4>
        <a href="https://www.youtube.com/watch?v=BF16eA7sdqo"> <button> entered the rhino realm?</button></a>
        <a href="https://www.youtube.com/watch?v=dfSoUYr4lmQ"> <button> almost dodge a spear? </button></a>
      </div>
    </div>
  </nav>
</section>
<script src="/js/logout.js"></script>